body{

}
.footer{
  position: fixed;
  width: 100%;
  bottom: 0; 
  padding: 7px;
  border: 25px;
  border-radius: 15px;
  left: 0;
}
.section{
  padding: 0;
  padding-bottom: 50px;
  align-content: center;
  position: static;
  border: 1px solid #ccc;
  background: url(./images/stream.jpg) center /cover; 
  color: #ffffff;
}
.field {
  padding-top: 25px;
}
h1{
  padding-top: 15px;
  padding-bottom: 15px;
}
.columns{
  padding: 15px 10px 15px 10px;
}

.image-overflow{
  max-height: 100px;
  overflow: hidden;
}
.navbar-item a {
  color: #ffffff;
}

.hero h1{
  font-family: Arial black, Helvetica, sans-serif;
  opacity: 1.6;
  color: #e5e5e5;
}
.hero p{
  font-weight: bold;
  opacity: 1.6;
  color: #e5e5e5;
}
.float-left{
  float: left;
}